---
import { getCollection } from 'astro:content'
import { Picture } from 'astro:assets'
import Layout from '@layouts/Layout.astro'
import Container from '@components/container.astro'
import Sectionhead from '@components/sectionhead.astro'
import Person from '@components/ui/personIcon.astro'
import { slide } from 'astro:transitions'
import EmployesCard from '@components/employesCard.astro'
---

<Layout title='About'>
  <Container>
    <div
      class='flex flex-col justify-center items-center mb-24'
      transition:animate={slide({ duration: '.5s' })}>
      <Sectionhead>
        <Fragment slot='title'>Nosotros</Fragment>
        <Fragment slot='desc'>Somos un equipo pequeño y apasionado.</Fragment>
      </Sectionhead>
      <p
        class='max-w-4xl mx-auto mt-16 text-xl leading-relaxed text-semibold text-gray-200 text-pretty'>
        Somos un equipo superdinámico y apasionado, compuesto por talentosos
        programadores, que fusiona creatividad e ingeniería. Nuestro enfoque,
        basado en la exploración de nuevas tecnologías y el aprendizaje
        continuo, nos permite materializar ideas audaces y originales. Nuestro
        principal objetivo es superar las expectativas del cliente creando
        soluciones tecnológicas de vanguardia.
      </p>

      <div class='flex gap-12 py-24'>
        <EmployesCard name='Jhonny Ramos' role='Desarrollador FullStack' />
        <EmployesCard name='Gabriel Gomez' role='Desarrollador FullStack' />
      </div>
    </div>
  </Container>
</Layout>
