---
import { getCollection } from 'astro:content'
import { Picture } from 'astro:assets'
import Layout from '@layouts/Layout.astro'
import Container from '@components/container.astro'
import Sectionhead from '@components/sectionhead.astro'
import { fade } from 'astro:transitions'
import CardsBlog from '@components/ui/cardsBlog.astro'

// Filter blog entries with 'draft: false' & date before current date
const publishedBlogEntries = await getCollection('blog', ({ data }) => {
  return !data.draft && data.publishDate < new Date()
})

// Sort content entries by publication date
publishedBlogEntries.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
})
---

<Layout title='Blog'>
  <main transition:animate={fade({ duration: '.3' })}>
    <Container>
      <Sectionhead>
        <Fragment slot='title'>Our Blog</Fragment>
        <Fragment slot='desc'>
          We write about building startups and thoughts going on our mind.
        </Fragment>
      </Sectionhead>
      <div class='mt-16'>
        <ul class='grid grid-cols-1 sm:grid-cols-2 gap-6 max-w-screen-xl mx-auto'>
          {
            publishedBlogEntries.map((blogPostEntry, index) => {
              return (
                <CardsBlog
                  index={index}
                  card={{
                    href: "/blog/"+blogPostEntry.slug,
                    image: blogPostEntry.data.image,
                    title: blogPostEntry.data.title,
                    status: blogPostEntry.data.category,
                    tags: blogPostEntry.data.tags,
                    description: blogPostEntry.data.snippet,
                    ...blogPostEntry
                  }}
                />
              );
            })
          }
        </ul>
      </div>
    </Container>
  </main>
</Layout>
