---
import Container from '@components/container.astro'
import Cta from '@components/cta.astro'
import YourProject from '@components/yourProjectContent.astro'
import HeadContent from '@components/headContent.astro'
import Logos from '@components/logos.astro'
import Companies from '@components/companies.astro'
import Desktop from '@components/desktop.astro'
import Layout from '@layouts/Layout.astro'
import { slide } from 'astro:transitions'
---

<Layout title='SoftCorp'>
  <main transition:animate={slide({ duration: '.5s' })}>
    <Container>
      <HeadContent />
      <Companies />
      <YourProject />
      <Logos />
      <Desktop />
      <Cta />
    </Container>
  </main>
</Layout>
