---
import ServiceLayout from '@layouts/ServiceLayout.astro'
import Container from '@components/container.astro'
import Footer from '@components/footer.astro'
import Sectionhead from '@components/sectionhead.astro'
import { fade } from 'astro:transitions'
import ServiceCard from '@components/serviceCard.astro'

const services = [
  {
    title: 'Desarrollo de software empresarial',
    bg: '#f9b234',
    description: 'Creamos soluciones tecnológicas personalizadas para tu empresa. Automatizamos tareas, integramos sistemas y proporcionamos herramientas para decisiones más inteligentes.',
  },
  {
    title: 'Desarrollo Web',
    bg: '#3ecd5e',
    description: 'Construimos sitios web escalables y fáciles de administrar. Ofrecemos plataformas para actualizar contenido y gestionar tu presencia en línea eficientemente.'
  },
  {
    title: 'Servicios Técnicos',
    bg: '#e44002',
    description: 'Ofrecemos soluciones rápidas a problemas informáticos. Nuestro equipo experto se encarga de reparaciones y configuraciones para mantener tu tecnología funcionando óptimamente.'
  },
  {
    title: 'Auditorias de Sistemas',
    bg: '#952aff',
    description: 'Identificamos ineficiencias y áreas de mejora en tu infraestructura tecnológica. Proporcionamos un plan de acción para optimizar procesos y maximizar tu inversión.'
  },
  {
    title: 'Sistema de monitorización',
    bg: '#cd3e94',
    description: 'Proporcionamos información en tiempo real sobre el estado de tu infraestructura. Ayudamos a identificar cuellos de botella y mejorar la eficiencia operativa.'
  },
  {
    title: 'Gestion de Base de Datos',
    bg: '#4c49ea',
    description: 'Optimizamos la estructura y el rendimiento de tus bases de datos, asegurando un acceso rápido y confiable a la información.'
  },
  {
    title: 'Sincronizacion de Datos',
    bg: '#f9b234',
    description: 'Garantizamos que tus datos estén actualizados y sean consistentes en todos tus sistemas, eliminando duplicaciones y asegurando la integridad de la información.'
  },
  {
    title: 'Proximamente...',
    bg: '#3ecd5e',
    description: 'Proximamente...'
  }
]
---

<ServiceLayout title='Services'>
  <main
    transition:animate={fade({ duration: '.3s' })}
    class='service-container'>
    <Container>
      <Sectionhead>
        <Fragment slot='title'>Servicios</Fragment>
        <Fragment slot='desc'>
          Descubra nuestra gama de servicios diseñados para satisfacer sus
          necesidades y impulsar su éxito.
        </Fragment>
      </Sectionhead>

      <section>
        <ul class='flex justify-center gap-4 flex-wrap w-full p-12'>
          {
            services.map((service, index) => (
              <ServiceCard
                title={service.title}
                description={service.description}
                bg={service.bg}
              />
            ))
          }
        </ul>
      </section>
    </Container>
    <Footer />
  </main>
</ServiceLayout>
