---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "Servicios",
    path: "#",
    children: [
      { title: "Servicio 1", path: "/"},
      { title: "Servicio 2", path: "/"},
      { title: "Servicio 3", path: "/"},
      { title: "Servicio 4", path: "/"}  
    /*
      { title: "Action", path: "/" },
      { title: "Another action", path: "#" },
      { title: "Dropdown Submenu", path: "#" },
      { title: "404 Page", path: "/404" },
    */
    ],
  },
  {
    title: "Precios",
    path: "/pricing",
  },
  {
    title: "Nosotros",
    path: "/about",
  },
  {
    title: "Blog",
    path: "/blog",
  },
  {
    title: "Contacto",
    path: "/contact",
  },
  /*
  {
    title: "Pro Version",
    badge: true,
    path: "https://astroship-pro.web3templates.com/",
  },*/
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center py-4 px-12 bg-[#171D2B] shadow-black/70 shadow-[0_30px_90px_0_rgba(0,0,0,0.1)]">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg flex flex-row items-center gap-1">
          <svg class="text-green-500 rotate-12" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 48 48"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"><path d="M31 43s-13 1-20-7S4 4 4 4s24-1 32 5s6 23 6 23"/><path d="M44 44s-11.18-8.449-18-16s-10-15-10-15m10 15l1-13m-1 13l-10-1"/></g></svg>
          <span class="font-medium text-[26px] text-transparent bg-clip-text bg-gradient-to-r from-green-400 to-green-700"> SoftCorp </span>
        </a>        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-white" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 items-center text-lg text-white hover:text-gray-400 transition-colors duration-300">
                      <span> {item.title}</span>
                      {'badge' in item && item.badge && (
                        <span class="ml-1 px-2 py-0.5 text-[10px] animate-pulse font-semibold uppercase text-white bg-indigo-600 rounded-full">
                          New
                        </span>
                      )}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>
  </header>
</Container>
</Container>
