---
import Link from "./ui/link.astro";
---

<div class="bg p-8 md:p-20 mt-28 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-2xl sm:text-4xl md:text-6xl tracking-tight mb-10">
    Contacta ahora y aumenta tu productividad. 
  </h2>
<div class="flex items-center justify-center">
  <div class="relative group">
    <a href="/contact"
      class="relative inline-block p-px font-semibold leading-6 text-white bg-gray-800 shadow-2xl cursor-pointer rounded-xl shadow-zinc-900 transition-transform duration-300 ease-in-out hover:scale-105 active:scale-95"
    >
      <span
        class="absolute inset-0 rounded-xl bg-gradient-to-r from-[#4DDADA] via-[#213333] to-[#4CD989] p-[2px] opacity-0 transition-opacity duration-500 group-hover:opacity-100"
      ></span>

      <span class="relative z-10 block px-6 py-3 rounded-xl bg-gray-950">
        <div class="relative z-10 flex items-center space-x-2">
          <span class="transition-all duration-500 group-hover:translate-x-1"
            >Contactar</span
          >
          <svg
            class="w-6 h-6 transition-transform duration-500 group-hover:translate-x-1"
            data-slot="icon"
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              clip-rule="evenodd"
              d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z"
              fill-rule="evenodd"
            ></path>
          </svg>
        </div>
      </span>
    </a>
  </div>
</div>

</div>

<style>
.bg {
  width: 100%;
  min-height: 300px;
  background-image: linear-gradient(-45deg, #4DDADA 0%, #213333 25%, #213333 51%, #4CD989 100%);
  background-size: 300% 300%;
  animation: animateBG 10s ease infinite, animateShadow 10s ease infinite;

}

@media (width <= 500px) {
  .bg{
    width: 400px;
  }
}
@media (width <= 400px) {
  .bg{
    width: 300px;
  }
}

@keyframes animateBG {
  0%, 100% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
}

@keyframes animateShadow {
  0%, 100% { box-shadow: 0 0 20px rgba(77, 218, 218, 0.5); }
  25%, 50% { box-shadow: 0 0 20px rgba(33, 51, 51, 0.5); }
  75% { box-shadow: 0 0 20px rgba(76, 217, 137, 0.5); }
}
</style>