---
import Shape2 from './ui/Shape2.astro'
---

<div class='flex items-center justify-center max-w-screen h-[600px] my-44'>
  <div
    class='max-w-screen-xl mx-auto flex flex-col md:flex-row items-center justify-center flex-wrap'>
    <div class='md:w-1/2 relative'>
      <img src='/AplicationMockup.png' alt='Mac' />
      <div>
        <Shape2 class='absolute w-3/4 top-16 md:w-full md:top-0 -z-10' />
        <Shape2
          class='absolute w-3/4 -top-16 md:w-full md:-top-32 rotate-90 -z-10'
        />
      </div>
    </div>
    <div class='w-full md:w-1/2 -order-1 md:order-1'>
      <h2 class='text-4xl font-bold dark:text-white p-8'>
        Aplicaciones de escritorio
      </h2>
      <p class='text-2xl font-normal dark:text-white text-pretty p-8'>
        Herramientas totalmente personalizadas para la automatización de
        procesos y la solución de problemas.
      </p>
    </div>
  </div>
</div>
