---
import Shape from "./ui/Shape.astro"
import Shape2 from "./ui/Shape2.astro"
---

<div class="mt-20 flex items-center justify-center max-w-screen ">
  <div class="max-w-screen-xl mx-auto flex flex-col md:flex-row items-center justify-center flex-wrap">
    <div class="w-full md:w-1/2">
      <h2 class="text-4xl font-bold dark:text-white p-8">
        Tus <span class="text-[#6C9792]">ideas</span>, tu <span class="text-[#6C967A]">proyecto</span>. 
      </h2>
      <p class="text-2xl font-normal dark:text-white text-pretty p-8">
        ¡No te preocupes por los detalles técnicos! Déjanos guiarte en cada paso del desarrollo de tu nuevo software. Convierte tu visión en realidad con nuestra ayuda experta.
      </p>
    </div>
  
    <div class="md:w-1/2 relative">
      <img class="relative -top-16 -right-32 z-10" src="/MockupPhone.png" alt="Mac">
      <div class="absolute top-0 right-0">
        <Shape class="size-34"/>
        <Shape class="size-52 relative -top-32 -rotate-45"/>
        <Shape2 class="size-60 relative -bottom-44 right-60 "/>
      </div>
    </div>
  </div>
</div>

