<div {...Astro.props}>
  <div
    class='w-[400px] bg-gradient-to-l from-slate-300 to-slate-100 text-slate-600 border border-slate-300 flex justify-center p-6 text-2xl rounded-lg shadow-md'>
    <slot />
  </div>
</div>
