---
import { SEO } from 'astro-seo'
import Footer from '@components/footer.astro'
import Navbar from '@components/navbar/navbar.astro'
import '@fontsource-variable/inter/index.css'
import { ViewTransitions } from 'astro:transitions'
//import '@fontsource-variable/bricolage-grotesque';

export interface Props {
  title: string
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString()

const resolvedImageWithDomain = new URL(
  '/MainMockUp.png',
  Astro.site
).toString()

const { title } = Astro.props

const makeTitle = title
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <ViewTransitions />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description='SoftCorp: Soluciones de software innovadoras para impulsar tu negocio. Ofrecemos desarrollo personalizado, consultoría tecnológica y servicios de integración de sistemas para optimizar tus procesos y aumentar tu productividad.'
      canonical={canonicalURL}
      twitter={{
        creator: '@surjithctly',
        site: '@web3templates',
        card: 'summary_large_image'
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: 'website',
          title: `SoftCorp - Soluciones de software innovadoras para impulsar tu negocio`,
          image: resolvedImageWithDomain
        },
        image: {
          alt: 'SoftCorp Imagen de Pagina Principal'
        }
      }}
    />
  </head>
  <body class='bg-[#0f172a] w-full min-h-screen flex flex-col'>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
